@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-brand-primary: #122b40;
    /* Deep Navy From Image */
    --color-brand-secondary: #244b6e;
    /* Medium Blue From Image */
    --color-brand-tertiary: #486a87;
    /* Steel Blue From Image */
    --color-brand-light: #e6e6e6;
    /* Light Gray From Image */

    --font-sans: "Outfit", sans-serif;
    --animate-blob: blob 7s infinite;

    @keyframes blob {
        0% {
            transform: translate(0px, 0px) scale(1);
        }

        33% {
            transform: translate(30px, -50px) scale(1.1);
        }

        66% {
            transform: translate(-20px, 20px) scale(0.9);
        }

        100% {
            transform: translate(0px, 0px) scale(1);
        }
    }
}

.animation-delay-2000 {
    animation-delay: 2s;
}

.animation-delay-4000 {
    animation-delay: 4s;
}
